@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using OpenIddict.Example.IdP.Persistence.Models
@using OpenIddict.Example.IdP.Server.ViewModels.Account
@inject SignInManager<AppUser> SignInManager
@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Register";
}

<h1><span class="span-accent">[</span>OpenIddict.Example<span class="span-accent">]</span></h1>
<div class="container right-panel-active" id="container">

    <div class="form-container sign-up-container">
        <div class="form-wrapper">

            <h2>Associate your @ViewData["LoginProvider"] account.</h2>

            <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnUrl="@ViewData["returnUrl"]" method="post" role="form">

                <input asp-for="Email" type="email" placeholder="Email" />
                <input asp-for="FirstName" type="text" placeholder="First Name" />
                <input asp-for="LastName" type="text" placeholder="Last Name" />

                <button type="submit" class="btn btn-submit">Register</button>
            </form>
        </div>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <div class="social-container">
                    <p>
                        You've successfully authenticated with @ViewData["LoginProvider"].
                        Please enter your details and click the register button to finish
                        logging in.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
