* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #1a1a1a;
    font-size: 1.6rem;
    overflow-x: hidden;
}

a {
    color: #1e6091;
    text-decoration: none;
}

.container {
    display: grid;
    height: 100vh;
}

.heading-secondary {
    font-size: 3rem;
}

.heading-primary {
    font-size: 5rem;
}

.span-accent {
    color: #1e6091;
    font-size: 2rem;
    padding-left: 1rem;
    vertical-align: middle;
}

.signup-container,
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.signup-container {
    width: 100vw;
    padding: 5rem 5rem;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}

.signup-form {
    display: flex;
    align-items: flex-start;
    max-width: 45rem;
    width: 100%;
}

.text-mute {
    color: #aaa;
    padding: 0.5rem 0rem;
}

.input-text {
    font-family: inherit;
    font-size: 1.8rem;
    padding: 3rem 5rem 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background: #eee;
    width: 100%;
}

    .input-text:focus {
        outline-color: #1e6091;
    }

.btn {
    padding: 2rem 3rem;
    border: none;
    background: #1e6091;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
}

.btn-login {
    align-self: flex-end;
    width: 100%;
    box-shadow: 0 5px 5px #00000020;
}

    .btn-login:active {
        box-shadow: none;
    }

    .btn-login:hover {
        background: #184e77;
    }

.inp {
    position: relative;
    width: 100%;
}

.label {
    pointer-events: none;
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #00000070;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.2s;
    transform-origin: left;
}

.input-text:not(:placeholder-shown) + .label,
.input-text:focus + .label {
    top: 0.7rem;
    transform: scale(0.75);
}

.input-text:focus + .label {
    color: #1e6091;
}

.input-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: #00000070;
}

.input-icon-password {
    cursor: pointer;
}

.btn-external {
    color: #222;
    background: #fff;
    border: solid 1px #eee;
    padding: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px #00000020;
    width: 100%;
}

    .btn-external img {
        height: 1.5rem;
        margin-right: 1rem;
    }

.login-wrapper {
    max-width: 45rem;
    width: 100%;
}

.line-breaker {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    margin: 3rem 0;
}

    .line-breaker .line {
        width: 50%;
        height: 1px;
        background: #eee;
    }

    .line-breaker span:nth-child(2) {
        margin: 0 2rem;
    }

@media only screen and (max-width: 700px) {
    html {
        font-size: 54.5%;
    }
}

@media only screen and (max-width: 600px) {
    .signup-container {
        padding: 5rem;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 48.5%;
    }

    .input-text:not(:placeholder-shown) + .label,
    .input-text:focus + .label {
        top: 0.6rem;
        transform: scale(0.75);
    }

    .label {
        font-size: 1.9rem;
    }
}

@media only screen and (max-width: 1200px) {
    .signup-container {
        grid-column: 1 / 3;
        grid-row: 1/3;
    }

    .welcome-container {
        display: none;
    }
}
