/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #1a1a1a;
    font-size: 1.6rem;
    overflow-x: hidden;
}

a {
    color: #1e6091;
    text-decoration: none;
}

.container {
    display: grid;
    height: 100vh;
}

.heading-secondary {
    font-size: 3rem;
}

.heading-primary {
    font-size: 5rem;
}

.span-accent {
    color: #1e6091;
    font-size: 2rem;
    padding-left: 1rem;
    vertical-align: middle;
}

.signup-container,
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.signup-container {
    width: 100vw;
    padding: 5rem 5rem;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}

.signup-form {
    display: flex;
    align-items: flex-start;
    max-width: 45rem;
    width: 100%;
}

.text-mute {
    color: #aaa;
    padding: 0.5rem 0rem;
}

.input-text {
    font-family: inherit;
    font-size: 1.8rem;
    padding: 3rem 5rem 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background: #eee;
    width: 100%;
}

    .input-text:focus {
        outline-color: #1e6091;
    }

.btn {
    padding: 2rem 3rem;
    border: none;
    background: #1e6091;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
}

.btn-login {
    align-self: flex-end;
    width: 100%;
    box-shadow: 0 5px 5px #00000020;
}

    .btn-login:active {
        box-shadow: none;
    }

    .btn-login:hover {
        background: #184e77;
    }

.inp {
    position: relative;
    width: 100%;
    m
}

.label {
    pointer-events: none;
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #00000070;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.2s;
    transform-origin: left;
}

.input-text:not(:placeholder-shown) + .label,
.input-text:focus + .label {
    top: 0.7rem;
    transform: scale(0.75);
}

.input-text:focus + .label {
    color: #1e6091;
}

.input-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: #00000070;
}

.input-icon-password {
    cursor: pointer;
}

.btn-external {
    color: #222;
    background: #fff;
    border: solid 1px #eee;
    padding: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px #00000020;
    width: 100%;
}

    .btn-external img {
        height: 1.5rem;
        margin-right: 1rem;
    }

.login-wrapper {
    max-width: 45rem;
    width: 100%;
}



@media only screen and (max-width: 700px) {
    html {
        font-size: 54.5%;
    }
}

@media only screen and (max-width: 600px) {
    .signup-container {
        padding: 5rem;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 48.5%;
    }

    .input-text:not(:placeholder-shown) + .label,
    .input-text:focus + .label {
        top: 0.6rem;
        transform: scale(0.75);
    }

    .label {
        font-size: 1.9rem;
    }
}

@media only screen and (max-width: 1200px) {
    .signup-container {
        grid-column: 1 / 3;
        grid-row: 1/3;
    }

    .welcome-container {
        display: none;
    }
}*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
}

h1 {
    font-weight: bold;
    margin: 2rem;
    color: #bbb;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.form-wrapper {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #52796f;
    background: -webkit-linear-gradient(to right, #52796f, #354f52);
    background: linear-gradient(to right, #52796f, #354f52);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
    width: 100%;
}

    .social-container a {
        border: 1px solid #DDDDDD;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }

.line-breaker {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    margin: 1rem 0;
}

    .line-breaker .line {
        width: 5%;
        height: 1px;
        background: #000;
    }

    .line-breaker span:nth-child(2) {
        margin: 0 1rem;
    }

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

    footer p {
        margin: 10px 0;
    }

    footer i {
        color: red;
    }

    footer a {
        color: #3c97bf;
        text-decoration: none;
    }

.btn {
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    border: none;
    background: #52796f;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
}

.btn-submit {
    align-self: flex-end;
    width: 100%;
    box-shadow: 0 5px 5px #00000020;
}

    .btn-submit:active {
        box-shadow: none;
    }

    .btn-submit:hover {
        background: #354f52;
    }

.btn-external {
    color: #222;
    background: #fff;
    border: solid 1px #eee;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px #00000020;
    width: 100%;
    
}

    .btn-external img {
        height: 1rem;
    }

.span-accent {
    color: #52796f;
    font-size: 2.2rem;
    padding: 0.2rem;
}